ChallengeResponseAuthentication no
UsePAM yes
Port 22
Protocol 2
UsePrivilegeSeparation yes
KeyRegenerationInterval 3600
ServerKeyBits 1024
SyslogFacility AUTH
LogLevel INFO
LoginGraceTime 30
Permitrootlogin no
StrictModes yes
RSAAuthentication yes
PubkeyAuthentication yes
IgnoreRhosts yes
RhostsRSAAuthentication no
HostBasedAuthentication no
PermitEmptyPasswords no
X11Forwarding no
PrintMotd yes
PrintLastlog yes
TCPKeepAlive yes
PasswordAuthentication yes
Subsystem sftp /usr/lib/openssh/sftp-server
